<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbw.oj.mapper.QuestionCommentMapper">

    <resultMap id="BaseResultMap" type="com.qbw.oj.model.entity.QuestionComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="parentId" column="parentId" jdbcType="BIGINT"/>
            <result property="commentNum" column="commentNum" jdbcType="INTEGER"/>
            <result property="likeCount" column="likeCount" jdbcType="INTEGER"/>
            <result property="isLike" column="isLike" jdbcType="TINYINT"/>
            <result property="likeListId" column="likeListId" jdbcType="VARCHAR"/>
            <result property="inputShow" column="inputShow" jdbcType="TINYINT"/>
            <result property="fromId" column="fromId" jdbcType="BIGINT"/>
            <result property="fromName" column="fromName" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmtCreate" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmtModified" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionId,userId,
        userName,userAvatar,content,
        parentId,commentNum,likeCount,
        isLike,likeListId,inputShow,
        fromId,fromName,gmtCreate,
        gmtModified,isDeleted
    </sql>
</mapper>
